<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">


        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                     <i class="fa fa-bars"></i>
                        </button>

                    <!-- Topbar Search -->
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul>
                        <nav class="navbar navbar-expand-lg navbar-light bg-white">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse d-flex flex-row-reverse " id="navbarNavDropdown">
                                <ul class="navbar-nav">
                                    <li class="nav-item active ">
                                        <a class="nav-link ">Home </a>
                                    </li>

                                    <li class="nav-item ">
                                        <a class="nav-link " routerLink="/home">Features</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link " (click)="Logout()">Logout</a>
                                    </li>
                                    <li class="nav-item dropdown ">
                                        <a class="nav-link dropdown-toggle " *ngIf="displayName" id="navbarDropdownMenuLink " role="button " data-toggle="dropdown " aria-haspopup="true " aria-expanded="false ">
                                            {{displayName}}
                                      </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Home Page</h1>
                        <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                    </div>
                    <!--End Content Row-->
                </div>
                <div id="carouselId" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselId" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselId" data-slide-to="1"></li>
                        <li data-target="#carouselId" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img src="../../../assets/img/cat_shortfur.jpg" style="width: 100%;height: 700px;" alt="First slide">
                            <div class="carousel-caption d-none d-md-block font-product">
                                <h3>British shorthair</h3>
                                <p>This is one of ten kind of cat always be loved by entire the world because it really lovely, intellegent, and friendly with owner.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="../../../assets/img/poddle.jpg" style="width: 100%;height: 700px;" alt="Second slide">
                            <div class="carousel-caption d-none d-md-block font-product">
                                <h3>Poddle</h3>
                                <p>If you want to own a dog, I sure that is the best dog ever you have been seen because they have different kind from huge size to tiny size, and suitable for all ages
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="../../../assets/img/cat_longfur.jpg" style="width: 100%;height: 700px;" alt="Third slide">
                            <div class="carousel-caption d-none d-md-block font-product">
                                <h3>British Longthair </h3>
                                <p>It make impression for you because its eyes, long tail and its fur is really tender to anyone touch them. It feeling really amazing if you are a cat lover. </p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Best-seller</h1>
            </div>

            <div class="gallery-content">
                <div class="gallery-item gallery-g1 ">
                    <a href="."></a>
                    <img src="../../../assets/img/cat_shortfur.jpg" style="width: 100%; height: 100%;">
                    <div class="gallery-context">
                        <h3><span class="fas fa-cat"> </span></h3>
                        <p>British Shorthair cat</p>
                    </div>

                </div>

                <div class="gallery-item">
                    <a href="."></a>
                    <img src="../../../assets/img/Yorkshire.jpg" style="width: 100%; height: 100%;">
                    <div class="gallery-context">
                        <h3><span class="fas fa-dog"> </span></h3>
                        <p>Yorkshire dog</p>
                    </div>

                </div>

                <div class="gallery-item">
                    <a href="."></a>
                    <img src="../../../assets/img/cat_munchkin.jpg" style="width: 100%;height: 100%;">
                    <div class="gallery-context">
                        <h3><span class="fas fa-cat"> </span></h3>
                        <p>Muchkin cat</p>
                    </div>

                </div>
                <!--Part2-->
                <div class="gallery-item  ">
                    <a href="."></a>
                    <img src="../../../assets/img/cat_scottish Fold.jpg" style="width: 100%; height: 100%;">
                    <div class="gallery-context">
                        <h3><span class="fas fa-cat"> </span></h3>
                        <p>Scottish Fold cat</p>
                    </div>

                </div>

                <div class="gallery-item">
                    <a href="."></a>
                    <img src="../../../assets/img/dog_poddle.jpg" style="width: 100%; height: 100%;">
                    <div class="gallery-context">
                        <h3><span class="fas fa-dog"> </span></h3>
                        <p>Poddle dog</p>
                    </div>

                </div>

                <div class="gallery-item">
                    <a href="."></a>
                    <img src="../../../assets/img/dog_husky.jpg" style="width: 100%;height: 100%;">
                    <div class="gallery-context">
                        <h3><span class="fas fa-dog"> </span></h3>
                        <p>Husky dog</p>
                    </div>

                </div>

                <div class="gallery-item">
                    <a href="."></a>
                    <img src="../../../assets/img/dog_Samoyed.jpg" style="width: 100%;height: 100%;">
                    <div class="gallery-context">
                        <h3><span class="fas fa-dog">  </span></h3>
                        <p>Samoyed dog</p>
                    </div>

                </div>

                <div class="gallery-g1">
                    <h1>Contact with us</h1>
                    <form>
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="First name">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Last name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input type="number" class="form-control" placeholder="Phone number">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button type="button" class="btn btn-primary">Send</button>
                            </div>

                        </div>
                    </form>
                </div>
                <div class="gallery-g1">
                    <h1>Map</h1>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.2107830130335!2d106.67362131480098!3d10.795161992308813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175292a0f1486d7%3A0xf0491f74d4bd063b!2zMTU3IE5ndXnhu4VuIFbEg24gVHLhu5dpLCBQaMaw4budbmcgMTEsIFBow7ogTmh14bqtbiwgSOG7kyBDaMOtIE1pbmg!5e0!3m2!1svi!2s!4v1575469340584!5m2!1svi!2s"
                        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="">
                    </iframe>
                </div>
            </div>
        </div>

        <!-- End of Content Wrapper -->

    </div>
    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Animal Shop &copy; Your Website 2019</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!--Count-->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.js"></script>

    <script>
        $(".counter").countUp({
            "time": 3000,
            "delay": 10,
        });
    </script> -->


</body>

</html>