<h1 class="h3 mb-0 text-gray-800">Management</h1>
<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Report</a>
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 style="text-align: center;"></h1>
    <div class="row">
        <div class="col-md-5">
            <app-page></app-page>
        </div>
        <div class="col-md-7">
            <app-mainpage></app-mainpage>
        </div>
    </div>
</div>